# Pandas Practice_1

## 데이터 집합 불러오기

In [25]:
import pandas as pd

In [23]:
df = pd.read_csv('../Book_code/doit_pandas/data/gapminder.tsv', sep = '\t')

In [24]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [26]:
type(df)

pandas.core.frame.DataFrame

In [27]:
print(df.shape)

(1704, 6)

In [28]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [29]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

## 데이터 추출하기

In [31]:
# 열 단위

country_df = df['country']

type(country_df)

pandas.core.series.Series

In [32]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [33]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [34]:
# 2개 이상의 열을 추출했기 때문에 시리즈가 아니라 데이터 프레임을 얻을 수 있다. 

subset = df[['country', 'continent', 'year']]

type(subset)

pandas.core.frame.DataFrame

In [35]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [36]:
subset.tail()

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [37]:
# 행 단위
# loc(Index 기준), iloc(행 번호 기준) 속성 사용
# Pandas에서는 Index를 '행 번호'라고 부름

In [38]:
# loc 속성

df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [39]:
df.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [40]:
df.loc[-1]

KeyError: -1

In [43]:
number_of_rows = df.shape[0]
number_of_rows

1704

In [45]:
last_row_index = number_of_rows - 1
df.loc[last_row_index]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [46]:
df.tail(n=1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [47]:
df.loc[[0, 99, 999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [49]:
subset_loc = df.loc[0]

type(subset_loc)

pandas.core.series.Series

In [50]:
subset_tail = df.tail(n=1)

type(subset_tail)

pandas.core.frame.DataFrame

In [51]:
# iloc 속성
# loc는 데이트프레임의 "인덱스"를 사용하여 데이터 추출
# iloc는 데이터 순서를 의미하는 "행 번호"를 사용하여 데이터 추출

df.iloc[1]

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [52]:
df.iloc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [53]:
df.iloc[-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [54]:
df.iloc[[0, 99, 999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [55]:
# loc, iloc

In [56]:
subset = df.loc[:, ['year', 'pop']]
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

### 모든 행(:)의 데이터에 대해 year, pop 열을 추출하는 방법<br>
* 위의 예시는 head()이기 때문에 일부만 출력

In [59]:
subset.shape

(1704, 2)

In [61]:
subset = df.iloc[:, [2, 4, -1]]
subset.head()

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106