# 자료형 문제

In [68]:
# Q1

a = 80
b = 75
c = 55

average = (a + b + c) / 3
average

# score = (80, 75, 55)
# mean(score)
# score

70.0

In [6]:
# Q2

if 13 % 2 == 0:
    print("짝수")
    
else:
    print("홀수")

홀수

In [15]:
# Q3

pin = '881120-106234'

yymmdd = pin[:6]
print(yymmdd)

num = pin[7:]
print(num)

881120
106234

In [17]:
# Q4

pin = "881220-1068234"

sex = pin[7]
sex

'1'

In [18]:
# Q5

a = "a:b:c:d"  # 문자열

a.replace(":", "#")

'a#b#c#d'

In [31]:
# Q6

list = [1, 3, 5, 4, 2]
# list.reverse()  # 기존 인덱스에서 반대로
# print(list)

list.sort()   # 정렬 후 리버스
list.reverse()

list

[5, 4, 3, 2, 1]

In [36]:
# Q6

listlist = [1, 3, 5, 4, 2]

listlist.sort()
listlist

listlist.reverse()
listlist

[5, 4, 3, 2, 1]

In [39]:
# Q7

life = ['Life', 'is', 'too', 'short']

result = " ".join(a)
result

# result life.join(" ")

'LIfe is too short'

In [41]:
# Q8

a = (1, 2, 3)
a = a + (4,)
a


# Tuple = (1, 2, 3)
# add = (4)
# print(Tuple + add)

(1, 2, 3, 4)

In [44]:
a = (1, 2, 3)
print(id(a))  # a의 고유 주소 값 출력

a = a + (4,)
print(a)
print(id(a))  # (4,) 값이 더해진 후 a의 고유 주소 값 출력

2647735058744
(1, 2, 3, 4)
2647767731320

In [53]:
# Q9

a = dict()
a

## 오류가 발생하는 경우를 고르고, 이유를 설명

a['name'] = 'python'
a

{'name': 'python'}

In [54]:
a[('a',)] = 'python'
a

{'name': 'python', ('a',): 'python'}

In [55]:
a[[1]] = 'python'
a


# 오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable) 값을 사용할 수 없기 때문이다.
# 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다.
# 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다.

TypeError: unhashable type: 'list'

In [57]:
a[250] = 'python'
a

{'name': 'python', ('a',): 'python', 250: 'python'}

In [58]:
# Q10
## B 값 추출

a = {'A':90, 'B':80, 'C':70}

result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [67]:
# Q11
##리스트에서 중복 숫자를 제거해보기.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

aSet = set(a)  # a 리스트를 집합 자료형으로 변환
print(aSet)

b = list(aSet) # 집합 자료형을 다시 리스트로 변환
print(b)

{1, 2, 3, 4, 5}

TypeError: 'list' object is not callable

In [51]:
# Q12

a = b = [1, 2, 3]
a[1] = 4
b

# a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

[1, 4, 3]

# 제어문 문제

In [69]:
# Q1

a = "Life is too short, you need python"

if "wife" in a:
    print("wife")
    
elif "python" in a and "you" not in a:
    print("python")
    
elif "shirt" not in a:
    print("shirt")
    
elif "need" in a:
    print("need")
    
else:
    print("none")
    
    
# shirt만 출력! (가장 먼저 참이 되는 조건이 3번째 조건이므로 "shirt" 출력 후 if문 종료!)
# shirt, X need 출력 X

shirt

In [3]:
# Q2
# while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

result = 0
i = 1

while i <= 1000:
    if i % 3 == 0: # 3의 배수
        result += i
    i += 1
        
print(result)

166833

In [2]:
# Q3
# while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

# *
# **
# ***
# ****
# *****

i = 0

while True:
    i += 1  # while문 수행 시 1씩 증가
    
    if i > 5: break
        
    print('*' * i)

*
**
***
****
*****

In [3]:
# Q4
# for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
# Q5
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

# for문을 사용하여 A 학급의 평균 점수를 구해 보자.



A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0

for score in A:
    total += score
    
average = total / len(A)
average

79.0

In [8]:
# Q6
# 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

# numbers = [1, 2, 3, 4, 5]
# result = []
# for n in numbers:
#     if n % 2 == 1:
#         result.append(n*2)
# 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.


numbers = [1, 2, 3, 4, 5]

result = []

for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
        
        
result

[2, 6, 10]

In [9]:
# list comprehension ver.

result = [n * 2 for n in numbers if n % 2 == 1]
result

[2, 6, 10]