In [1]:
# X -> Y,  Y <- X 방법1 
# temp

X = 90
Y = 95

temp = X
X = Y
Y = temp

print(X, Y)

95 90

In [2]:
# 방법2

a = 10
b = 20

a, b = b, a

print(a, b)

20 10

In [3]:
# input()

name = input("이름이 무엇인가요? ")
print("만나서 반갑습니다. " + name + "님!")

이름이 무엇인가요? 유니코
만나서 반갑습니다. 유니코님!

In [1]:
x = int(input("첫 번째 정수: "))
y = int(input("두 번째 정수: "))
sum = x + y
print("합은 ", sum)

첫 번째 정수: 5
두 번째 정수: 5
합은  10

In [6]:
name = input('이름을 입력해주세요: ')
print(name, '님 만나서 반갑습니다.')

age = input('나이를 입력해주세요: ')
print('10년 후면', int(age) + 10, '살이 되시는 군요!')

이름을 입력해주세요: 유니코
유니코 님 만나서 반갑습니다.
나이를 입력해주세요: 10
10년 후면 20 살이 되시는 군요!

In [7]:
# int() 정수로
# float() 실수로

s1, s2, s3 = "100", "100.123", "99999999999999999999"
print(int(s1) + 1, float(s2) + 1, int(s3) + 1)

101 101.123 100000000000000000000

In [2]:
# 숫자 -> 문자열                #################?????????
# str()

a = 100; b = 100.123
str(a) + '1' ; str(b) + '1'

'100.1231'

In [4]:
# 관계 연산자 

c, d = 100, 200
print(c == d, c != d, c > d, c < d, c >= d, c <= d)

False True False True False True

In [5]:
# 논리 연산자

f = 99
(f > 100) and (f < 200)
(f > 100) or (f < 200)
not(f == 100)

True

In [6]:
print (25 // 10 ** 2 + 1)

1

In [8]:
i, o = "100", 200
print(i + str(o))

100200