In [6]:
x = 100
y = 200
a = 'Hello'
b = 4.76

In [8]:
x

100

In [9]:
x + y

300

In [11]:
x + a  # 겉으로는 데이터 타입은 없지만, 속성이 기억하기 때문에 숫자 + 문자형은 연산이 되지 않음.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# 사칙연산 

a = 3
b = 4
print(a + b)
print(a * b)
print(a / b)

7
12
0.75

In [16]:
# 제곱 ^ , **

a = 3
b = 4
a ** b

81

In [17]:
# 나머지 %

print(7 % 3)
print(3 % 7)

1
3

In [18]:
# 몫 //

print(7 / 4)  # 나누기
print(7 // 4) # 몫

1.75
1

In [26]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [27]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [22]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

In [25]:
# \n 줄바꿈 (이스케이프 코드)

multiline = "Life is too short\nYou need python"

print(multiline)

Life is too short
You need python

In [28]:
# \' , \"   작은따옴표, 큰따옴표 그대로 쓰고 싶을 때 

food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [29]:
# 문자열끼리 더하기

head = "Python"
tail = " is fun!"

head + tail
'Python is fun!'

'Python is fun!'

In [31]:
# 문자열끼리 곱하기 (많이 쓴다.)

a = "python"
a * 2

'pythonpython'

In [32]:
print('-' * 50)  # 편함!

--------------------------------------------------

In [33]:
# 문자열 길이

a = "Life is too short"
len(a)

17

In [36]:
# 문자열 인덱싱  (잘하면 뒤에 List가 쉬움)

a = "Life is too short, You need Python"
print(a)

Life is too short, You need Python

In [48]:
# 문자열의 문자마다 번호를 매겨봄

'''
Life is too short, You need Python
0         1         2         3 
0123456789012345678901234567890123
'''

'\nLife is too short, You need Python\n0         1         2         3 \n0123456789012345678901234567890123\n'

In [40]:
# 파이썬 인덱싱은 0부터 숫자를 센다.

a = "Life is too short, You need Python"
a[3]

'e'

In [51]:
# 파이썬 [-1]은 뒤에서 부터  * [-0]은 없음
# cf) R [-1] 은 첫 번째를 제외하고!

a = "Life is too short, You need Python"
a[-1]

'n'

In [53]:
# 문자열 슬라이싱 1

a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]

# 처음 순서부터 2개씩 출력함.
print(b)

Life

In [54]:
# 문자열 슬라이싱 2

a = "Life is too short, You need Python"
a[0:4]    # 0, 1, 2, 3

'Life'

In [55]:
a[:17]  # 처음부터 출력

'Life is too short'

In [56]:
a[:]

'Life is too short, You need Python'

In [57]:
# -8까지! a[-7] = ' '이니까 (마지막 미포함!), a[-8] = P 까지!

a[19:-7]

'You need'

##### 슬라이싱으로 문자열 나누기


a = "20010331Rainy"

###### 수행명령

date = a[:8]
weather = a[8:]


##### 수행결과

date
'20010331'

weather
'Rainy'

In [59]:
a = "20010331Rainy"

year = a[:4]

day = a[4:8]

weather = a[8:]

print(year)

print(day)

print(weather)

2001
0331
Rainy

In [62]:
a = "Pithon"

print(a[:1])

print(a[2:])

a[:1] + 'y' + a[2:]

P
thon

'Python'

In [63]:
# 문자열 포매팅
 # 숫자 바로 대입!

"I eat %d apples." % 3

'I eat 3 apples.'

In [64]:
# 문자열 바로 대입!

"I eat %s apples." % "five"

'I eat five apples.'

In [65]:
# 숫자 값을 나타내는 변수로 대입!

number = 3

"I eat %d apples." % number

'I eat 3 apples.'

In [ ]:
number = 10
day = "three"

""

In [66]:
# 문자 개수 세기(count)

a = "hobby"   # a 의 객체가 파이썬 내부에 자동 생성!
a.count('b')

2

# 위치 알려주기1(find)

a = "Python is the best choice"

a.find('b')   


14           # 첫 번째 인덱스 알려주고 return (더 이상 수행 X)


a.find('k')


-1      #만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환

# 위치 알려주기2(index)

a = "Life is too short"

a.index('k')

앞의 find 함수와 다른 점은 문자열 안에 존재하지 않는 문자를 찾으면 오류가 발생한다는 점이다.

In [67]:
# 문자열 삽입(join)

",".join('abcd')

'a,b,c,d'

In [68]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [71]:
# 대/소문자 변경

a = "hi"
print(a.upper())  # 대문자로
a.lower()  # 소문자로

HI

'hi'

##### 왼쪽 공백 지우기(lstrip)
> a = " hi "
> a.lstrip()
'hi '
문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다. lstrip에서 l은 left를 의미한다.

##### 오른쪽 공백 지우기(rstrip)
> a= " hi "
> a.rstrip()
' hi'
문자열 중 가장 오른쪽에 있는 한 칸 이상의 연속된 공백을 모두 지운다. rstrip에서 r는 right를 의미한다.

##### 양쪽 공백 지우기(strip)
> a = " hi "
> a.strip()
'hi'

##### 문자열 바꾸기(replace)
> a = "Life is too short"

> a.replace("Life", "Your leg")

'Your leg is too short'

In [72]:
# 문자열 나누기(split)

a = "Life is too short"

a.split()

['Life', 'is', 'too', 'short']

In [73]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

# List (리스트)

In [74]:
# 빈 리스트 생성 

a = []    # List n차원 생성! 원하는 차원!

# a = list()