# Pandas

In [1]:
import pandas as pd

In [2]:
seq_data = [10, 20, 30, 40, 50]
seq_data

[10, 20, 30, 40, 50]

In [3]:
s1 = pd.Series(seq_data)   # Pandas 모듈 안에 Series 클래스  안에 seq_data라는 생성자 함수!
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Series 객체는 index(번호)가 data와 함께 나옴!

In [5]:
import numpy as np

np.array(seq_data)  #ndarray

array([10, 20, 30, 40, 50])

Series는 일반적인 데이터에서 데이터타입을 구분하지 않는다!

In [6]:
s2 = pd.Series(['a', 'b', 4, 5])
s2

0    a
1    b
2    4
3    5
dtype: object

데이터 타입이 자동으로 바뀐다!
<br>
손실이 없이 데이터를 변환하기 가장 좋은 방법은 형태 그대로를 보존시켜주는 '문자형'!
<br>
(* 그래야 나중에 원 데이터로 다 돌아갈 수 있음!)
<br>
요소 중에 문자형이 하나라도 있으면 다 문자형으로 바뀐다.
<br>
요소 중에 문자형이 없으면 가장 긴 정수형의 데이터 타입을 따른다. (실수형, 정수형 있으면 => 실수형)!

In [8]:
### Pandas는 시퀀스 데이터 다루기 위해 만들어진 것.

In [10]:
s1.index   # index 속성 지원!

# Rangeindex 객체명, 객체타입

RangeIndex(start=0, stop=5, step=1)

In [11]:
list(s1.index)   # Range계열은 Numpy든 Pandas 든, list 형변환 가능! (써 봐서 안 되면 다른 방법을 찾기)

# 대다수 리스트 형태로 변환 가능!

[0, 1, 2, 3, 4]

In [12]:
s2.values      # values 값만 보고 싶을 때! 

# 원 데이터 타입으로 유지는 한다.
# 리턴 타입 (ndarray)

array(['a', 'b', 4, 5], dtype=object)

In [13]:
list(s2.values)      # ndarray도 리스트 함수로 변환 가능!

['a', 'b', 4, 5]

In [15]:
index_sq = ['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05']
s3 = pd.Series(seq_data, index = index_sq)
s3

# 인덱스가 바뀌어 있다!
# 인덱스 저렇게 다 입력 안 하고, 다른 것 이용하면 한번에 가능!

2020-01-01    10
2020-01-02    20
2020-01-03    30
2020-01-04    40
2020-01-05    50
dtype: int64

## 물리적 인덱스
: 시스템상 입력되는 인덱스
<br>
## 논리적 인덱스
: 우리가 마음대로 바꿀 수 있다.

In [17]:
index_sq2 = pd.date_range(start = "2020-01-03", end = "2020-01-07", freq = 'D')
s4 = pd.Series(seq_data, index = index_sq2)
s4

2020-01-03    10
2020-01-04    20
2020-01-05    30
2020-01-06    40
2020-01-07    50
Freq: D, dtype: int64

In [20]:
index_sq2 = pd.date_range(start = "2020-01-03", end = "2020-01-11", freq = '2D')
s4 = pd.Series(seq_data, index = index_sq2)
s4

2020-01-03    10
2020-01-05    20
2020-01-07    30
2020-01-09    40
2020-01-11    50
Freq: 2D, dtype: int64

## 2차원
### 본격적 자료 구조

df: 2차원 데이터를 본격적으로 다룸

In [23]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])  # 데이터를 2차원으로 전달!
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
fdata = pd.read_csv("c:/Python_study/data/total_sales_data.csv")
fdata

  매장명  제품종류 모델명  판매  재고
0   A  스마트폰  S1   1   2
1   A  스마트폰  S2   2   5
2   A    TV  V1   3   5
3   B  스마트폰  S2   4   6
4   B  스마트폰  S1   5   8
5   B    TV  V1   6   9
6   C  스마트폰  S2   2   4
7   C    TV  V1   3   6
8   C    TV  V2   7   9

## Pandas 장점!
- 예쁜 표가 나옴!
- 사용자 관점에서 데이터 점검할 때 좋음!

## Pandas 표 단점
- 탐색적 작업(EDA)가 까다롭다.
- 데이터 다루기 까다롭다.


### ※ 자료 분석 순서: 데이터 불러오기 -> EDA -> 다시 벡터화

In [29]:
fdata = pd.read_csv("c:/Python_study/data/total_sales_data.csv")
fdata.describe()

             판매        재고
count  9.000000  9.000000
mean   3.666667  6.000000
std    2.000000  2.345208
min    1.000000  2.000000
25%    2.000000  5.000000
50%    3.000000  6.000000
75%    5.000000  8.000000
max    7.000000  9.000000