In [55]:
1+1

2

In [56]:
2+3

5

In [57]:
a = 2
a

2

In [58]:
10/3

3.3333333333333335

In [59]:
10//3

3

In [60]:
10%3

1

In [4]:
number = 123456
split_number = number % 10
print(split_number)

number % 100

6

56

In [62]:
number % 100 // 10

5

In [3]:
# 위의 6자리 수를 모두 한자리씩 분리한 후 분리된 수의 합을 구하여 출력하시오.

a = number % 10 // 1
b = number % 100 // 10
c = number % 1000 // 100
d = number % 10000 // 1000
e = number % 100000 // 10000
f = number % 1000000 // 100000
sum = a + b + c + d + e + f

print(number)
print(sum)

123456
21

In [6]:
123456 % 10

6

In [4]:
total = 0
number = 123456

for i in range(6):
    split_number = number % 10
    total = total + split_number
    number = number // 10
    
print(total)

21

In [5]:
result = 0
a = 12345678910

for a in range(10):
    result = result + (a+1)
    
print(result)

55

In [6]:
# 1부터 10까지의 합을 구하여 출력하시오. (for 사용)

sum = 0
for i in range(10):
    sum = sum + (i+1)
    
print(sum)

55

In [12]:
# 1부터 10까지 2의 배수만의 합을 구하여 출력하시오. (for 사용)

sum = 0
for i in range(10):
    if (i+1) % 2 == 0:
#         sum = sum + (i+1)
        sum += i+1
    
print(sum)

30

In [14]:
# 2단을 작성하시오.

result = 0

for num in range(1, 10):
    result = result + 1
    print(2, "X", num, "=", 2 * num)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [11]:
# 2단 ~ 9단을 작성하시오. (단과 단 사이에 줄 넣기)

for dan in range(2,10):
    print("------------------------------------")
    for num in range(1,10):
        print(dan, "X", num, "=", dan*num)

------------------------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------------------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------------------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------------------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------------------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------------------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------------------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------------------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [15]:
count = 0
while True:
    print(count)
    if i==10:
        break

0

In [15]:
number = 123456
total = 0
for i in range(6):
    split_number = number % 10
    total = total + split_number

In [ ]:
# 3단만 출력
# n자리의 숫자를 하나씩 분리하는 코드를 while문으로 작성

num

In [77]:
my_number = 123456789

split_number = str(my_number)

res = 0

for num in split_number:
    res += int(num)

res

45

In [1]:
money = 2000

if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [1]:
year = 2028
# 윤년의 조건 찾아서 파이썬 코드로 변환

if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) :
    print('leap year')
else :
    print('common year')

leap year

In [7]:

for year in range(2020, 2051):
    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) :
        print('{} is leap year(윤년))'.format(year))
    else :
        print('common year')

2020 is leap year(윤년))
common year
common year
common year
2024 is leap year(윤년))
common year
common year
common year
2028 is leap year(윤년))
common year
common year
common year
2032 is leap year(윤년))
common year
common year
common year
2036 is leap year(윤년))
common year
common year
common year
2040 is leap year(윤년))
common year
common year
common year
2044 is leap year(윤년))
common year
common year
common year
2048 is leap year(윤년))
common year
common year

In [6]:
for year in range(2020, 2051):
    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) :
        print(f'{year} is leap year')
    else :
        print('common year')

2020 is leap year
common year
common year
common year
2024 is leap year
common year
common year
common year
2028 is leap year
common year
common year
common year
2032 is leap year
common year
common year
common year
2036 is leap year
common year
common year
common year
2040 is leap year
common year
common year
common year
2044 is leap year
common year
common year
common year
2048 is leap year
common year
common year

In [2]:
for year in list(range(2020, 2051)):
    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) :
        print(f'{year} is leap year')
    else :
        print('common year')

2020 is leap year
common year
common year
common year
2024 is leap year
common year
common year
common year
2028 is leap year
common year
common year
common year
2032 is leap year
common year
common year
common year
2036 is leap year
common year
common year
common year
2040 is leap year
common year
common year
common year
2044 is leap year
common year
common year
common year
2048 is leap year
common year
common year

In [13]:
score = 82
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

B

In [8]:
list(range(2020,2051))

[2020,
 2021,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2040,
 2041,
 2042,
 2043,
 2044,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050]

In [9]:
range(2020,2051)

range(2020, 2051)

In [10]:
# 5가 소수(prime number)인지 판단하여 출력
# 1과 자기자신으로만 나누어지는 수

num = 5
if num % 2 == 0:
    print(num, "는 소수입니다.")

In [12]:
# 5가 소수(prime number)인지 판단하여 출력

number = 5
for i in range(1, number):
    if number % i == 0:
        print(number, "는 소수입니다.")

5 는 소수입니다.

In [1]:
for k in range(2, 11):
    number = k
    count = 0
    for i in range(1, number+1):
        if number % i == 0:
            count = count + 1
            pass
        pass


# 소수여부 확인 (2개)

if count == 2:
    print(f'{number} is prime number')

In [14]:
# 달력 만들기(2019년 달력 만들기)

month = 12
last_day = 31
print('\t\t\t2019년 {}월\n'.format(month))
print('\n 일\n 월\n 화\n 수\n 목\n 금\n 토\n')
for i in range(1, last_day+1):
    print('{}\t' .format(i),end = '')
    if i % 7 == 0:
        print()

			2019년 12월


 일
 월
 화
 수
 목
 금
 토

1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

In [ ]:
""