In [26]:
# 1000 ~ 1250 사이의 소수를 찾아 출력
# N이라는 숫자의 소수 여부 판별
# 1 ~ N 까지의 수로 나누어서 떨어지는 경우가 2개인 것을 찾는 것
# 1, 자기자신으로만 나누어 떨어지는 수 -> 소수
# 소수의 개수

total = 0
for number in range(1000,1251):
    n = 5
    count = 0
    for i in range(1,n+1):
        if n % i == 0:
            count = count + 1
    if count == 2:
        print (f'{number} is prime number')
        total = total + 1

print(total)

1000 is prime number
1001 is prime number
1002 is prime number
1003 is prime number
1004 is prime number
1005 is prime number
1006 is prime number
1007 is prime number
1008 is prime number
1009 is prime number
1010 is prime number
1011 is prime number
1012 is prime number
1013 is prime number
1014 is prime number
1015 is prime number
1016 is prime number
1017 is prime number
1018 is prime number
1019 is prime number
1020 is prime number
1021 is prime number
1022 is prime number
1023 is prime number
1024 is prime number
1025 is prime number
1026 is prime number
1027 is prime number
1028 is prime number
1029 is prime number
1030 is prime number
1031 is prime number
1032 is prime number
1033 is prime number
1034 is prime number
1035 is prime number
1036 is prime number
1037 is prime number
1038 is prime number
1039 is prime number
1040 is prime number
1041 is prime number
1042 is prime number
1043 is prime number
1044 is prime number
1045 is prime number
1046 is prime number
1047 is prime number
1048 is prime number
1049 is prime number
1050 is prime number
1051 is prime number
1052 is prime number
1053 is prime number
1054 is prime number
1055 is prime number
1056 is prime number
1057 is prime number
1058 is prime number
1059 is prime number
1060 is prime number
1061 is prime number
1062 is prime number
1063 is prime number
1064 is prime number
1065 is prime number
1066 is prime number
1067 is prime number
1068 is prime number
1069 is prime number
1070 is prime number
1071 is prime number
1072 is prime number
1073 is prime number
1074 is prime number
1075 is prime number
1076 is prime number
1077 is prime number
1078 is prime number
1079 is prime number
1080 is prime number
1081 is prime number
1082 is prime number
1083 is prime number
1084 is prime number
1085 is prime number
1086 is prime number
1087 is prime number
1088 is prime number
1089 is prime number
1090 is prime number
1091 is prime number
1092 is prime number
1093 is prime number
1094 is prime number
1095 is prime number
1096 is prime number
1097 is prime number
1098 is prime number
1099 is prime number
1100 is prime number
1101 is prime number
1102 is prime number
1103 is prime number
1104 is prime number
1105 is prime number
1106 is prime number
1107 is prime number
1108 is prime number
1109 is prime number
1110 is prime number
1111 is prime number
1112 is prime number
1113 is prime number
1114 is prime number
1115 is prime number
1116 is prime number
1117 is prime number
1118 is prime number
1119 is prime number
1120 is prime number
1121 is prime number
1122 is prime number
1123 is prime number
1124 is prime number
1125 is prime number
1126 is prime number
1127 is prime number
1128 is prime number
1129 is prime number
1130 is prime number
1131 is prime number
1132 is prime number
1133 is prime number
1134 is prime number
1135 is prime number
1136 is prime number
1137 is prime number
1138 is prime number
1139 is prime number
1140 is prime number
1141 is prime number
1142 is prime number
1143 is prime number
1144 is prime number
1145 is prime number
1146 is prime number
1147 is prime number
1148 is prime number
1149 is prime number
1150 is prime number
1151 is prime number
1152 is prime number
1153 is prime number
1154 is prime number
1155 is prime number
1156 is prime number
1157 is prime number
1158 is prime number
1159 is prime number
1160 is prime number
1161 is prime number
1162 is prime number
1163 is prime number
1164 is prime number
1165 is prime number
1166 is prime number
1167 is prime number
1168 is prime number
1169 is prime number
1170 is prime number
1171 is prime number
1172 is prime number
1173 is prime number
1174 is prime number
1175 is prime number
1176 is prime number
1177 is prime number
1178 is prime number
1179 is prime number
1180 is prime number
1181 is prime number
1182 is prime number
1183 is prime number
1184 is prime number
1185 is prime number
1186 is prime number
1187 is prime number
1188 is prime number
1189 is prime number
1190 is prime number
1191 is prime number
1192 is prime number
1193 is prime number
1194 is prime number
1195 is prime number
1196 is prime number
1197 is prime number
1198 is prime number
1199 is prime number
1200 is prime number
1201 is prime number
1202 is prime number
1203 is prime number
1204 is prime number
1205 is prime number
1206 is prime number
1207 is prime number
1208 is prime number
1209 is prime number
1210 is prime number
1211 is prime number
1212 is prime number
1213 is prime number
1214 is prime number
1215 is prime number
1216 is prime number
1217 is prime number
1218 is prime number
1219 is prime number
1220 is prime number
1221 is prime number
1222 is prime number
1223 is prime number
1224 is prime number
1225 is prime number
1226 is prime number
1227 is prime number
1228 is prime number
1229 is prime number
1230 is prime number
1231 is prime number
1232 is prime number
1233 is prime number
1234 is prime number
1235 is prime number
1236 is prime number
1237 is prime number
1238 is prime number
1239 is prime number
1240 is prime number
1241 is prime number
1242 is prime number
1243 is prime number
1244 is prime number
1245 is prime number
1246 is prime number
1247 is prime number
1248 is prime number
1249 is prime number
1250 is prime number
251

In [29]:
# 10번째까지의 피보나치 수열을 출력하시오.
# 피보나치 수열: 0, 1 값이 주어지고 계속해서 주어진 두 수의 합이 다음에 위치한다.
# 예) 0, 1, 1, 2, 3, 5, 8...


a = 0
b = 1

for i in range(10):
    p = a + b
    if p == 1:
        print(a, b, end = ' ')
    print(p, end = ' ')
    a = b
    b = p

0 1 1 2 3 5 8 13 21 34 55 89

In [30]:
"{}".format(3.14159)

'3.14159'

In [31]:
"{:.2f}".format(3.14159)

'3.14'

In [36]:
# 오른쪽으로 10자리만 밀어라.

"{:>10}".format("이름")

'        이름'

In [37]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
'나의 이름은 홍길동입니다. 나이는 30입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [38]:
# 양쪽 공백 지우기 (lstrip, rstrip; 왼쪽, 오른쪽)

a = " hi "
a.strip()

'hi'

In [40]:
# split()

a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [41]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [42]:
# 변수 대입

number = 3
"I eat {} apples".format(number)
'I eat 3 apples'

'I eat 3 apples'

In [48]:
# split() 활용

line = "990001, addx, 17, 29, 16, 49, 43, 154, C, A, C"
print(line)

data = line.split(",")
data

990001, addx, 17, 29, 16, 49, 43, 154, C, A, C

['990001',
 ' addx',
 ' 17',
 ' 29',
 ' 16',
 ' 49',
 ' 43',
 ' 154',
 ' C',
 ' A',
 ' C']

In [49]:
# 인덱싱

data[-1]

' C'

In [53]:
data[2] + data[3]

' 17 29'

In [63]:
# int(): 정수형으로
#                    cf. float(): 실수형(0.1)

int(data[2]) + int(data[3])

46

In [68]:
data[2] = int(data[2])

In [69]:
for i in range(3, 8):
    data[i] = int(data[i])

In [70]:
for ele in data:
    print(ele)

990001
 addx
17
29
16
49
43
154
 C
 A
 C

In [128]:
m_list = [1, 2, 3, 4, 5]
m_list

[1, 2, 3, 4, 5]

In [98]:
m_list[0]

1

In [99]:
# element 전체 출력

for ele in m_list:
    print(ele)

1
2
3
4
5

In [100]:
# 수정

m_list[4] = 50
m_list

[1, 2, 3, 4, 50]

In [89]:
#append(): 추가

m_list.append(6)
m_list

[1, 2, 3, 4, 50, 6]

In [117]:
# 삭제 ***** 실행할수록 해당 위치 반복 삭제

del m_list[1]
m_list

[1, 3, 4, 5]

In [125]:
# 삭제

m_list = [1, 2, 3, 4, 5]
del m_list[1]
m_list

[1, 3, 4, 5]

In [120]:
# 삭제 ***** 실행할수록 해당 위치 반복 삭제

m_list.remove(1)
m_list

ValueError: list.remove(x): x not in list

In [129]:
my_list = []
my_list.append(10)
my_list

[10]

In [145]:
# 리스트 정렬하기
# 내림차순으로 정렬하시오.

list_a = [29, 87, 1, 92, 34, 54, 20, 19, 3, 90]
list_a

# 오름차순 정렬
list_a.sort()
list_a

# 내림차순 정렬
list_a.sort(reverse=True)
list_a

[92, 90, 87, 54, 34, 29, 20, 19, 3, 1]

In [161]:
# Class에서 요구한 방법

list_b = [29, 87, 1, 92, 34, 54, 20, 19, 3, 90]
for i in range(len(list_b)-1):
    for j in range(i+1, len(list_b)):
        if list_b[i] < list_b[j]:
            temp = list_b[i]
            list_b[i] = list_b[j]
            list_b[j] = temp
    
list_b

[92, 90, 87, 54, 34, 29, 20, 19, 3, 1]

In [165]:
# random -> rnd 
import random as rnd
r = rnd.randint(1, 3)
print(r)

1

In [171]:
for i in range(10):
    r2 = rnd.randrange(100)  #100이면 0-99까지. 임의의 난수 뽑기
    print(r2, end = ' ')

67 17 91 86 21 37 17 46 59 19

In [2]:
for i in range(10):
    r2 = rnd.randrange(100) 
    print(r2, end = ' ')

# 리스트 로 
list_r2 = [69, 95, 42, 95, 91, 59, 53, 93, 50, 90]

# 중복값 제거
list_b = []
while True:
    r2 = rnd.randrange(100)
    if r2 not in list_b:
        list_b.append(r2)
    if len(list_b) == 10:
        break

list_b

NameError: name 'rnd' is not defined

In [174]:
msg = 'hello'
number = '123456'
for letter in number:

SyntaxError: unexpected EOF while parsing (<ipython-input-174-e81f8b5366e3>, line 4)

In [179]:
r3 = rnd.randrange(1000, 10000)
r3

1775

In [11]:
b = input('please input numbers >>> ')
print(int(b) + 10)  #int20
print(b + str(10))  #strings 1010

please input numbers >>> 10
20
1010

In [2]:
import random as rnd

hidden = rnd.randrange(10, 100)
# num = int(input('예상한 숫자는? >>> '))

while True:
    num = int(input('예상한 숫자는? >>> '))
    if num < hidden:
        print("크다")
    elif num > hidden:
        print("작다")
    else:
        print("일치")
        break

예상한 숫자는? >>> 20
크다
예상한 숫자는? >>> 580
작다
예상한 숫자는? >>> 50
크다
예상한 숫자는? >>> 58
크다
예상한 숫자는? >>> 60
크다
예상한 숫자는? >>> 70
크다
예상한 숫자는? >>> 80
작다
예상한 숫자는? >>> 74
크다
예상한 숫자는? >>> 75
크다
예상한 숫자는? >>> 76
일치

In [1]:
def plus(a, b): #입력
    c = a + b   #처리
    return c   #출력

In [15]:
result = plus(10, 20)
print(result)

30

In [6]:
def plus2(a, b, c):
    return a + b + c

plus2(10, 20 , 30)

60

In [8]:
def plus2(a, b = 20, c = 30):
    return a + b + c

plus2(20)

70

In [11]:
def plus2(a, b = 20, c = 30):
    return a + b + c

plus2(20, 1, 1)

22

In [16]:
def plus2(a, b = 20, c = 30):
    return a + b + c

plus2(20, c = 50)

90

In [18]:
month = 7
space = 1
last_day = 31
print('\t\t\t2019년 {}월\n'.format(month))
print('일\t월\t화\t수\t목\t금\t토')
for i in range(space):
    print('\t',end='')
    pass

for i in range(1,last_day+1):
    print('{}\t'.format(i),end='')
    if (i+space) % 7 == 0:
        print()

			2019년 7월

일	월	화	수	목	금	토
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28	29	30	31

In [22]:
# 함수로 달력 만들기
# 마지막날 정보 12개와 빈칸 정보 12개를 리스트에 담아서 처리하시오. (하드코딩으로)
        
def view_month(m, s, ld):
    month = m
    space = [2, 5, 5, 1, 3, ]
    last_day = ld
    print('\t\t\t2019년 {}월\n'.format(month))
    print('일\t월\t화\t수\t목\t금\t토')
    

a = [1:31]
view_month(1, 2, 31)

SyntaxError: invalid syntax (<ipython-input-22-3140f7527acc>, line 12)

In [23]:
# 아래의 코드를 함수로 만들고 테스트 하시오. (함수 형태만 적용)
# 구구단, 소수판별, 윤년판별, 피보나치 수열, 내림차순 정렬

# 구구단

def num()

SyntaxError: invalid syntax (<ipython-input-23-63464814c235>, line 6)

In [35]:
# 피보나치 함수식

def pibonach(n):
    a = 0
    b = 0
    for i in range(n):
        p = a + b
        if p == 1:
            print(p, end = ' ')
            a = b
            b = p

In [38]:
# 소수판별 함수식

def is_prime_number(k):
    k = 0
    count = 0
    flag = FALSE  #참, 거짓 
    for k in range(1, number+1):
        if number % k == 0:
            count = count + 1


# 소수여부 확인 (2개)

if count == 2:
    print(f'{number} is prime number')

NameError: name 'count' is not defined

In [ ]:
#간결성 특징으로 블록이 없다.

#- 제어문과 블록을 처리해야 할 경우 { } 사용하지 않는다.
#대신,          :(콜론)과 들여쓰기         블록을 표현한다.

#- 블록이 끝나는 부분이 명확하지 않으므로 pass를 사용